body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color: #FFF;
}

.title-middle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Logo */

.navigation .logo .black {
    color:#2E2F42;
    font-family: 'Raleway', sans-serif;
    width: 71px;
}
.bottom .logo .black {
    color: #f4f4fd;
    font-family: 'Raleway', sans-serif;
}
.logo-bottom {
    display: inline-block;
    margin-bottom: 16px;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px;

}

/* Header */
/* Navigation */

.menu {
    border-bottom: 1px solid #e7e9fc;
}

header .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}
.list-nav {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-right: 332px;
}
.item-nav {
    width: calc((100% - 80px) / 3);
}
.button-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}
.button-nav:hover {
    color:#404BBF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button-nav:active {
    color:#404BBF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button-nav:focus {
    color:#404BBF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Contacts */
.contacts {
    color:#434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list-contacts {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.item-contacts {
    width: calc((100% - 40px) / 2);
}
.contacts:hover {
    color:#404BBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.contacts:focus {
    color:#404BBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
/* Basic */
ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
    display: block;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section 1 */

.block .container {
    width: 100%;
    flex-shrink: 0;
    margin: 0 auto;
}
.block {
    padding: 188px 0;
    background-color: #2e2f42;

}

.title {
    color:#FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
}
.button {
    background:#4D5AE5;
    color:#FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button:hover {
    background: var(--OCEAN, #404BBF);
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:focus {
    background: #404BBF;
    color:#FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
/* Section 2 (Benefits) */

.hiding {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list-benefits {
    gap: 24px;
    display: flex;
    flex-direction: row;
}
.item-benefits {
    width: calc((100% - 72px) / 4);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.list-benefits .small-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
    margin-bottom: 8px;
}
.list-benefits .paragraf {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Section 3 (Team) */

.block-second .container {
    width: 1158px;
    flex-shrink: 0;
}
.block-second {
    background-color: #F4F4FD;
}

.list-team {
    display: flex;
    gap: 24px;
}
.item {
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}
.item {
    width: calc((100% - 72px) / 4);
}

.card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
}
.list-team .small-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.list-team .paragraf {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* Portfolio */


.list-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    column-gap: 24px;
    row-gap: 48px;
}
.item-portfolio {
    width: calc((100% - 48px) / 3);
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}
.card-portfolio {
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding-bottom: 32px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.list-portfolio .small-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.list-portfolio .paragraf {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Footer */

.bottom .paragraf {
    color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.bottom {
    background: #2E2F42;
    padding: 100px 0;
}


